
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
/* font-family: "Francois One", sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Yeseva+One&display=swap');
/* font-family: "Francois One", sans-serif; */

:root{
    --bg-color:hsl(240, 82%, 4%);
    --text-color:hsl(240, 82%, 95%);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
}