*{
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 162, 149);
    height: 70px;
    padding: 0px 20px;
}

.left h1{
    font-family: "Francois One", sans-serif;
}

.left h1:hover{
    cursor: pointer;
    
}

ul{
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}

ul a{
    text-decoration: none;
    transition: all 0.3s ease;

}

ul a:hover{
    cursor: pointer;
    color: hsl(0, 0%, 20%);
}

ul .active{
    text-decoration: underline;
    color: hsl(0, 0%, 0%);
    text-decoration-color: brown;
    text-underline-offset: 15px;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: rgb(27, 7, 52);
}